# **Let's check out the calculation of rates of returns on single assets**

The steps are as follows;

1. Import Python's number crunching libraries
2. Use panda's data reader to get real world stock information of Apple
3. Explore the data
4. Calculate rate of return using the simple returns fomula 
5. Calculate rate of return using log returns

**More info on Pandas Datareader:** https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#

** Documentation for .shift() method:** https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shift.html

**More info on the differences between simple returns and log returns:** https://quant.stackexchange.com/questions/4160/discrete-returns-versus-log-returns-of-assets

In [1]:
# Step 1 (import python's number crunchers)

import pandas as pd
import numpy as np
from pandas_datareader import data as web

In [2]:
# Step 2 & 3 (Get Apple stock information using Pandas Datareader)

data = pd.DataFrame()

tickers = ['AAPL']

for item in tickers:
    data[item] = web.DataReader(item, data_source='yahoo', start='01-01-2000')['Adj Close']

data.head()

ImmediateDeprecationError:
Yahoo Daily has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [ ]:
# Step 4 (Simple Returns with the formula)
# .shift() method to use previous value 

simple_returns1 = (data / data.shift(1)) - 1
simple_returns1.head()

In [8]:
# Still Step 4 (Simple Returns formula expressed as a method)
# Same result as above
# Alternative solution

simple_returns2 = data.pct_change()
simple_returns2.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1999-12-31</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2000-01-03</th>
      <td>0.088754</td>
    </tr>
    <tr>
      <th>2000-01-04</th>
      <td>-0.084310</td>
    </tr>
    <tr>
      <th>2000-01-05</th>
      <td>0.014634</td>
    </tr>
    <tr>
      <th>2000-01-06</th>
      <td>-0.086538</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
# Step 5 (Getting log returns)

log_returns = np.log(data / data.shift(1))
log_returns.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1999-12-31</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2000-01-03</th>
      <td>0.085034</td>
    </tr>
    <tr>
      <th>2000-01-04</th>
      <td>-0.088078</td>
    </tr>
    <tr>
      <th>2000-01-05</th>
      <td>0.014528</td>
    </tr>
    <tr>
      <th>2000-01-06</th>
      <td>-0.090514</td>
    </tr>
  </tbody>
</table>
</div>